/* RESET BOX SIZING */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* FONT E COLORI
font-family: 'Fredoka', sans-serif;
FUCSIA: #e63170
COLORE CARD: #0f0e17
AZZURRO: #3c83aa
 */

 /* REGOLE GENERALI */
 body {
    font-family: 'Fredoka', sans-serif;
 }

 main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
 }


/* INTESTAZIONE DEL MAIN */
header {
    margin-bottom: 50px;
} 

h1 {
    color: #e63170;
    text-align: center;
 }


 /* DISPOSIZIONE CARDS */

 .container {
    height: 500px;
    background-color: lightblue;
    margin-bottom: 30px;
 }

.container-card {
    padding-right: 20px;
}

 .card {
    width: calc(100% / 3);
    height: 60px;
    background-color: red;
    border: 2px solid black;
    float: left;

 }

 .clearfix::after {
    content: '';
    display: table;
    clear: both;
 }